
.carousel-control-prev{
    height: 5%;
    width: 5%;
    border: none;
    border-radius: 10%;
    align-self: center;
    left: 10px;
}
.carousel-control-next{
    height: 5%;
    width: 5%;
    border: none;
    border-radius: 10%;
    align-self: center;
    right: 10px;
}
