<!-- templates/show_all_students.html -->
{% extends 'base.html' %}

{% block content %}
<body>
    <div class="container mt-4">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addStudentModal">
            <i class="bi bi-database-add"></i> Thêm học sinh
        </button>
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div class="alert-container">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>
    <section id="students" class="container mt-4">
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="table-primary text-center">
                    <th>Lớp</th>
                    <th>Xem chi tiết</th>
                </tr>
            </thead>
            <tbody>
                {% for class_name in classes %}
                <tr>
                    <td>{{ class_name }}</td>
                    <td class="text-center">
                        <a class="btn btn-success" href="{{ url_for('show_students_by_class', class_name=class_name) }}">
                            <i class="bi bi-eye"></i> Xem danh sách sinh viên
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <!-- Modal thêm sinh viên -->
    <div class="modal fade" id="addStudentModal" tabindex="-1" role="dialog" aria-labelledby="addStudentModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addStudentModalLabel">Thêm Sinh Viên</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{{ url_for('add_student') }}" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="ma_sinh_vien">Mã Sinh Viên</label>
                            <input type="text" class="form-control" id="ma_sinh_vien" name="ma_sinh_vien" required>
                        </div>
                        <div class="form-group">
                            <label for="name">Tên Sinh Viên</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="class_name">Lớp</label>
                            <input type="text" class="form-control" id="class_name" name="class_name" required>
                        </div>
                        <div class="form-group">
                            <label for="achievement">Thành Tích</label>
                            <input type="text" class="form-control" id="achievement" name="achievement">
                        </div>
                        <div class="form-group">
                            <label for="ngay_sinh">Ngày sinh</label>
                            <input type="date" class="form-control" id="ngay_sinh" name="ngay_sinh">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-primary">Thêm Sinh Viên</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
{% endblock %}
