{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/show_home.css') }}">
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<body>
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{{ url_for('static', filename='images/dhkh_a.jpg') }}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h3>ĐẠI HỌC HUẾ</h3>
                <p>Hue University of Sciences - Trường Đại học Khoa học Huế</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{{ url_for('static', filename='images/dhkh_b.jpg') }}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h3>ĐẠI HỌC HUẾ</h3>
                <p>Hue University of Sciences - Trường Đại học Khoa học Huế</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{{ url_for('static', filename='images/dhkh_c.jpg') }}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h3>ĐẠI HỌC HUẾ</h3>
                <p>Hue University of Sciences - Trường Đại học Khoa học Huế</p>
            </div>
          </div>
        </div>
    </div>
    
    <div>
      <h2>Thông tin chung</h2>
    </div>
</body>
{% endblock %}