{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/show_achieve.css') }}">
<body>
    <section id="students">
        <h2>DANH SÁCH SINH VIÊN TIÊU BIỂU</h2>
        <div class="row">
            {% for student in students %}
                <div class="card">
                        <div class="card-body">
                            <div class="thong-tin">
                                <h5 class="card-title">Sinh Viên</h5>
                                <img src="{{ student.image_url if student.image_url else url_for('static', filename='images/default_img.jpg') }}" class="card-img-top img-thumbnail" alt="...">
                                <p class="card-text">Họ và tên: {{ student[2] }}</p>
                                <p>Mã sinh viên: {{ student[1] }}</p>
                                <p>Lớp: {{ student[3] }}</p>
                                <p><b>Thành tựu:</b> {{ student[4] }}</p>
                            </div>
                            <a href="#" class="btn btn-success text-center">Chi tiết</a>
                        </div>
                  </div>
            {% endfor %}
        </div>
    </section>
</body>
{% endblock %}
